$brand-color:         #fede00;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #64644B;
$font-family:         "Noto Serif","PT Serif","source-han-serif-sc","Songti SC",serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;